body {
    background: hsl(30, 38%, 92%);
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 25vh;
}


.card {
    display:flex;
    
    width: 550px;
    height:400px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background:white;
}
.main-img{
    display:flex;
    
}

img {
    border-radius: 10px 0 0 10px;
}